{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
      <div class="col-4">
        <img src="{{ profile.image.url }}" width="100" height="100" /><br />
        {{ user.username }}<br />
        Your balance: {{ profile.balance }}
        <br /> <br /><br />
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-home">Settings</a>
          <a class="list-group-item list-group-item-action" id="list-balance-list" data-bs-toggle="list" href="#list-balance" role="tab" aria-controls="list-balance">Balance</a>
          <a class="list-group-item list-group-item-action" id="list-ads-list" data-bs-toggle="list" href="#list-ads" role="tab" aria-controls="list-ads">Ads</a>
          <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">Messages</a>
          <a class="list-group-item list-group-item-action" id="list-reviews-list" data-bs-toggle="list" href="#list-reviews" role="tab" aria-controls="list-reviews">Reviews</a>
        </div>
      </div>
      <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
            <h1>Settings</h1><br /><br />

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticImageBackdrop">
              Change image
            </button>
            <br /><br />

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticEmailBackdrop">
              Change email
            </button>
            <br /><br />

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticPasswordBackdrop">
              Change password
            </button>

          </div>
          <div class="tab-pane fade" id="list-balance" role="tabpanel" aria-labelledby="list-balance-list">Balance</div>
          <div class="tab-pane fade" id="list-ads" role="tabpanel" aria-labelledby="list-ads-list">Ads</div>
          <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">Messages</div>
          <div class="tab-pane fade" id="list-reviews" role="tabpanel" aria-labelledby="list-reviews-list">Reviews</div>
        </div>
      </div>
    </div>

  <div class="modal modal-dialog modal-dialog-centered fade" id="staticImageBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticImageBackdropLabel">Change image</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" enctype="multipart/form-data" action="{% url 'accounts:image-change' %}">
            {% csrf_token %}
            {{ profile_form.user.as_hidden }}
            {{ profile_form.balance.as_hidden }}
            {{ profile_form.image }}
            <div class="modal-footer">
              <input type="submit" class="btn btn-primary" value="Save" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal modal-dialog modal-dialog-centered fade" id="staticEmailBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticEmailBackdropLabel">Change email</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" enctype="multipart/form-data" action="{% url 'accounts:email-change' %}">
            {% csrf_token %}
            {{ user_form.email }}
            <div class="modal-footer">
              <input type="submit" class="btn btn-primary" value="Save" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal modal-dialog modal-dialog-centered fade" id="staticPasswordBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticPasswordBackdropLabel">Change password</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" enctype="multipart/form-data" action="{% url 'accounts:password-change' %}">
            {% csrf_token %}
            {{ password_change_form.old_password }}<br />
            {{ password_change_form.new_password }}<br />
            {{ password_change_form.new_password_confirm }}
            <div class="modal-footer">
              <input type="submit" class="btn btn-primary" value="Save" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
